

@charset "utf-8";
/* CSS by TeckStack.com */

*{ margin: 0; }

/*body{ background: #930; font: 16px/150% Verdana, Geneva, sans-serif;}*/
.ar{ float: right; }
.al{ float: left;}
.clear{ clear: both;}
a{ text-decoration: none; color: #666;}

#wrapper{ margin: 0 auto; width: auto; position: relative; }
/*#nav li{ float: left; list-style: none; padding: 5px 10px; color: #000; text-transform: uppercase;  }
#nav li a{ text-decoration: none; color: #fff; display: block; text-transform: none;}
*/
form{ background: #eee; padding: 10px; }
/*form p{ padding: 1px 0;}*/
form .title{ min-width: 100px; display: inline-block; }
form input[type=text], form input[type=password]{ border: 1px solid #666; padding: 5px;}

.button{ display: inline-block; background: #fff; padding:2px 2px; z-index: 0; color: #eee; }
.overlay{ z-index:5;
    background: rgba(0, 0, 0, .50);
    display: block; position:fixed; width: 100%; height: 100%; }

.popup1{ padding: 10px 10px 35px; background: #fff; z-index: 999; display: none; position: absolute;
    left:650px; top:50px; width:400px; height: 270px; border: 1px solid black;}
.popup2{ padding: 10px 10px 35px; background: #fff; z-index: 999; display: none; position: absolute;
    left:650px; top:50px; width:400px; height: 270px; border: 1px solid black;}
#footer{ position: fixed; bottom: 0; background: #fff; width: 100%; font-size: 12px; text-align: center; }
#footer div{ padding: 5px; }

.close{ font-weight: bold; color: #F00; float: right; position: absolute; bottom: 5px; right: 10px; }

#ex1Slider .slider-selection {
    background: #BABABA;
}

#rating li {
    float:left;
    list-style-type:none;
    display: inline;
}

#rating li.star_off {
    background: url('../img/greystar.gif') no-repeat left top;
    background-size: 48px 48px;
    list-style-type: none;
    display: inline;
}

#rating li.star_on {
    background:url('../img/yellowstar.gif') no-repeat left top;
    background-size: 48px 48px;
    list-style-type:none;
    display: inline;
}

#rating a {
    display:block;
    font-size:0px;
    width:48px;
    height:48px;
}